{% extends "blog/base.html" %} 
{% block content %}
        <article class="media content-section">
            <div class="media-body">
            <h1 class="article-title">Credits</h1>
            <hr>
            <p class="article-content">
            <ul class="list-group">
            	<li>Wallpaper Image:- <a href='https://wallpapersafari.com/agriculture-desktop-wallpaper/'>https://wallpapersafari.com/agriculture-desktop-wallpaper/</a></li>
            	<li>Dataset:- <a href='https://www.kaggle.com/'>https://www.kaggle.com/</a></li>
            </ul>
            </p>
            </div>
        </article>
{% endblock content %}
