{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
            <p>	</p>
            <div class="media-body">
            <div class="article-metadata">
                        <h1>Crop Name</h1>
            </div>
            	<p class="article-content">Crop Description</p>
            </div>
        </article>
        <article class="media content-section">
            <p>	</p>
            <div class="media-body">
            <div class="article-metadata">
                        <h1>Cost of each Crop</h1>
            </div>
            	<p class="article-content"><i class="text-muted">Expected result here is a visualization</i></p>
            </div>
        </article>
        <article class="media content-section">
            <p>	</p>
            <div class="media-body">
            <div class="article-metadata">
                        <h1>Yield of each Crop</h1>
            </div>
            	<p class="article-content"><i class="text-muted">Expected result here is a visualization</i></p>
            </div>
        </article>        
{% endblock content %}
